@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap')
/* resetando a página*/
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html {
    font-size: 1em;
}

body {
  height: 100%;
  background-color: #828482;
  font-family: var(--fonte-padrao);
}

/*variaveis*/
:root {
  --cor0: #000000;
  --cor1: #000000;
  --cor2: white;
  --cor3: #9e978d;
  --cor4: #2e3132;
  --fonte-padrao: 'Quicksand', sans-serif;
  
}


/* header styles */
/*header*/
.cabecalho {
  color: var(--cor2);
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

/* Estilos para o logotipo */
.logo {
  color: var(--cor2);
  text-decoration: none;
  border: 2px solid var(--cor0);
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 40px;
  white-space: nowrap;
}

.logo:hover {
  color: var(--cor1);
}

.logo:active {
  color: var(--cor1);
}

/* Estilos para o menu */
.menu {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.cabecalho .menu li {
  margin-left: 20px;
  margin-right: 40px;
  font-size: 27px;
}

.cabecalho .menu li a:hover {
  color: var(--cor0);
}

.cabecalho .menu li a {
  color: var(--cor2);
  text-decoration: none;
}

.menu {
    list-style-type: none;
  }

  .menu li {
    display: inline-block;
    margin-left: 20px;
  }


  .menu li a {
    color: var(--cor2);
    text-decoration: none;
    vertical-align: middle;
  }
.menu li {
  display: inline-block;
  margin-left: 20px;
}

.menu li a {
  color: var(--cor2);
  text-decoration: none;
  vertical-align: middle;
}

/*Main*/

/*Perfil*/
.perf h2 {
  margin-top: 30px;
  margin-left: 70px;
  color: white;
}

.perf hr {
  margin-left: 70px;
  color: var(--cor0);
  margin-right: 60px;
}

.imagem-texto {
  display: flex;
  align-items: center;
}

.imagem-texto img {
  margin-right: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-left: 70px;
}

.icones {
    display: flex;
    align-items: center; 
  }

.texto{
  color: var(--cor2);
  margin-right: 40px;
}
.texto h3 {
  color: var(--cor0);
}

.redes-sociais {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.redes-sociais i {
  color: var(--cor2);
  font-size: 24px;
  margin: 5px;
}

.redes-sociais i:hover {
  color: var(--cor1);
}

.icone {
  display: flex;
  justify-content: space-between;
}

.tex {
  flex: 1;
}

.comp {
  display: flex;
  align-items: center; 
  margin-right: 20px;/
}

.comp i {
  margin-right: 5px; 
  color: rgba(8, 79, 160, 0.801);
}

/*Repositório*/
.card {
  height: 100%; /* Garante que todos os cartões tenham a mesma altura */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  max-height: 150px;
  object-fit: cover;
}

.card-body {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-body h5 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

.card-body p {
  flex: 1;
  margin-bottom: 1rem;
}

.card-body a {
  align-self: flex-end;
}

@media (max-width: 576px) {
  .card {
    margin-bottom: 1rem;
  }
}


/*Conteúdo Sugerido*/
.carrosel {
  margin-left: 40px;
  margin-right: 40px;
}

.carrosel h2 {
  margin-top: 30px;
  margin-left: 20px;
  color: var(--cor2);
}

.carrosel hr {
  margin-left: 20px;
  color: var(--cor0);
  margin-right: 20px;
}

.imagens {
  margin-right: 20px;
  margin-left: 20px;
}

.carousel-item img {
  max-width: 100%;
  height: 500px;
  border-radius: 10px;
}

/*Parceiros de trabalho*/
.parceiros {
  margin-left: 40px;
  margin-right: 40px;
}

.parceiros h2 {
  margin-top: 30px;
  margin-left: 20px;
  color: var(--cor2);
}

.parceiros hr {
  margin-left: 20px;
  color: var(--cor0);
  margin-right: 20px;
}

.trabalho {
  text-align: center;
}

.parceiro {
  display: inline-block;
  margin: 10px;
  text-align: center;
  margin-left: 30px;
}

.parceiro h3 a {
  text-decoration: none;
  font-size: 20px;
  color: var(--cor2);
}

.parceiro h3 a:hover {
  color: var(--cor0);
}

.parceiro img {
  border-radius: 10px;
}

/*Rodapé*/
.rodape p {
  text-align: center;
  color: var(--cor2);
}

.rodape hr {
  margin-left: 20px;
  color: var(--cor0);
  margin-right: 20px;
}


/* Adicione estas regras de mídia ao final do seu CSS */

  /* Estilos para telas menores */
/* Estilos para dispositivos com largura até 768px (tablet e dispositivos móveis) */
@media screen and (max-width: 768px) {
  /*header*/
  .cabecalho {
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 20px;
  }

  .menu ul {
    display: none;
  }

  .menu {
    list-style-type: none;
    margin-top: 10px;
  }

  .menu li {
    display: block;
    margin-left: 0;
  }

  .menu li a {
    display: block;
    padding: 10px 0;
  }

  .menu li a:hover {
    color: var(--cor0);
  }

  /*Perfil*/
  .perf h2 {
    text-align: center;
    margin-left: 0;
  }

  .perf hr {
    margin-left: 20px;
    margin-right: 20px;
  }

  .imagem-texto {
    flex-direction: column;
    align-items: center;
  }

  .imagem-texto img {
    margin-top: 10px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .texto {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .texto p{
    margin-left: 5px;
    margin-right: 5px;
  }

  .redes-sociais {
    justify-content: center;
    margin-top: 10px;
  }

  .redes-sociais i {
    margin: 5px;
  }

  .redes-sociais i:hover {
    color: var(--cor1);
  }

  

  /*Repositório*/
  .cardss {
    margin-left: 0;
    margin-right: 0;
  }

  /*Parceiros de trabalho*/
  .parceiros {
    text-align: center;
  }

  .colega {
    margin: 10px auto;
    margin-right: 15px;
    text-align: center;
  }

  .colega h3 a:hover {
    color: var(--cor0);
  }

  /*carrosel*/
  .carousel-inner img {
    width: 100%;
    height: auto;

  /*Subtítulos*/
  .perf h2,
  .repositorios h2,
  .carrosel h2,
  .colegas h2 {
    text-align: center;
    margin-left: 0;
  }

  /*Linha*/
  .carrosel hr,
  .repositorios hr,
  .colegas hr,
  .rodape hr {
    margin-left: 0;
    margin-right: 0;
    }  
  }
}